doctype
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      block scripts
        script(src='http://d3js.org/d3.v3.min.js')
        script(src='https://login.persona.org/include.js')
  body
    block content